<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Flask Blog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./style.css') }}"
    />
  </head>
  <body>
    <h1>Welcome to My Flask Blog!</h1>
    <a href="{{ url_for('add') }}" class="btn btn-primary">Add New Post</a>
    <div class="post-container">
      {% for post in posts %}
      <div class="post">
        <h2>{{ post.title }}</h2>
        <p><em>Written by {{ post.author }}</em></p>
        <p>{{ post.content }}</p>
        <div class="button-container">
          <form action="{{ url_for('delete', post_id=post.id) }}" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="icon-btn delete-btn">
              <img
                src="{{ url_for('static', filename='./delete-icon.svg') }}"
                alt="Delete Icon"
              />
            </button>
          </form>
          <a
            href="{{ url_for('update', post_id=post.id) }}"
            class="icon-btn update-btn"
          >
            <img
              src="{{ url_for('static', filename='./update-icon.svg') }}"
              alt="Update Icon"
            />
          </a>
          <form action="{{ url_for('like', post_id=post.id) }}" method="POST">
            <button type="submit" class="like-btn btn">
              <img
                src="{{ url_for('static', filename='./like.svg') }}"
                alt="Like Icon"
              />
              Like {{ post.likes }}
            </button>
          </form>
        </div>
        <!-- Comment Section -->
        <div class="comment-section">
          <h3>Comments:</h3>
          {% for comment in post.comments %}
          <div class="comment">
            <p><strong>{{ comment.author }}:</strong> {{ comment.text }}</p>
          </div>
          {% endfor %}
          <!-- Comment Form -->
          <form
            action="{{ url_for('comment', post_id=post.id) }}"
            method="POST"
            class="comment-form"
          >
            <textarea
              name="comment"
              rows="3"
              placeholder="Add a comment..."
              required
            ></textarea>
            <input type="submit" value="Post Comment" />
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
